<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hey, <%= @user.name %></h1>
    <p>
      Your user account has just been deleted from out site.<br>
    </p>
    <p>
      If you have any questions, please get ahold of our admin team!
    </p>
  </body>
</html>