<div class="container">
  <div class="container">
    <div class="container-fluid page-header centered">
      <h1 class="header-text">Rotten Mangoes</h1> 
    </div>

    <div class="jumbotron centered">
    <%= render "form2" %>
    <br>
    <div class="centered link-size">
    <%= link_to "Submit a movie!", new_movie_path %>
    </div>
    </div>


    <div>
      <% @movies.each_slice(2) do |movies_slice| %>
        <%= render "movie", movies_slice: movies_slice %>
      <% end %>
    </div>
  </div>
</div>